$light: #fff;
$dark: #000;
$primary: #337ab7;
$info: #17a2b8;
$success: #28a744;
$danger: #dc3546;
$warning: #ffc107;
$default: #6c757d;
$blue: #00f;
$filter-color: (
  "exp": #00a2e8,
  "range": #3f48cc,
  "column": #a367cd,
  "value": #ff8830,
  "condition": #3f48cc
);
