.select-calendar {
  position: relative;
  line-height: normal;
  display: inline-block;
  .fa-calendar {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    padding: .18rem;
    cursor: pointer;
    height: 25px;
    margin-left: 3px;
  }
  .icon-flast-dd {
    position: absolute;
    top: 50%;
    right: 25px;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
  }
  .dropdown-exp {
    width: 0;
    /deep/ button {
      opacity: 0;
      width: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      border-left-width: 0 !important;
      border-right-width: 0 !important;
    }
    /deep/ .dropdown-menu {
      padding: 0;
      &.show {
        // transform: translate3d(-30px, 5px, 0px) !important;
      }
    }
    /deep/ .dropdown-item {
      font-size: 12px;
    }
  }
  .cbpo-custom-date{
    width: calc(100% - 21px);
    height: auto;
    display: inline-block;
    font-size: 11.5px;
    border-radius: 0;
    /deep/ {
      .mx-input {
        border-radius: 0;
        height: 24px;
        line-height: 24px;
        font-size: 11.5px;
      }
      i {
        display: none;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
  .input-expression {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    display: inline-block;
    font-size: 11.5px;
    width: calc(100% - 21px);
    font-weight: 400;
    border-width: 1px;
    border-radius: 0;
    height: 24px;
    line-height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    background-clip: padding-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:focus {
      outline: none;
    }
  }
}

::v-deep .cbpo-custom-date .mx-input {
  text-overflow: ellipsis;
  padding-right: 1rem;
}
