{% extends 'base_sending_email_template.html' %}
{% block content %}
    <div>
        <p style="font-weight: bold">Thank you for getting into the subscription plan {{ plan_name }}!</p>
        <p>We appreciate you using plan {{ plan_name }} which is one of our available
            products.</p>

        <p>Features:</p>
        <ul>
            {% for criteria in criteria_list %}
                <li>{{ criteria }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ hosted_invoice_url }}" target="_blank">invoice</a></p>

    </div>
    <div>
        <ul>
            {% for video in videos_tutorial %}
                <li>
                    <p><a href="{{ video.link }}" target="_blank">{{ video.label }}</a></p>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
