.idea
.vscode
**/.env
**/__pycache__
db.sqlite3
venv
compose/.envs/.prod
staticfiles
backups/*
logs/*
!backups/.gitkeep
!logs/.gitkeep
compose/.envs/.local
.coverage
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.*
PHOTOS/*
.zshrc.save
certificates/precise-7fb53dd47513.json
certificates/credential.json
certificates/credential_google_auth.json
cer
*.pid
local.yml
repare_fixture_unit_test.ipynb
tags
config/transit_app/videos_tutorial.json
*~