@mixin d-flex($direction: row, $j-content: flex-start, $a-items: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $j-content;
  align-items: $a-items;
}

.cbpo-pagination-sizing {
  padding: .5rem 0;
  width: 100%;
  @include d-flex(row, center, center);

  &.align-button {
    display: flex;
    overflow: auto;

    button {
      flex: 1 1 auto !important;
      border-style: solid;
      border-width: 1px;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:not(:last-child) {
        border-right: none;
      }
    }
    .btn-three-dots {
      background: #fff !important;
      color: #000000 !important;
      &:hover {
        background: #fff;
      }
    }
  }
}
