.cbpo-visualization-preset {
  height: 100%;
  .cbpo-grid-row {
    display: flex;
    flex-flow: row wrap;
    .cbpo-grid-item {
      min-width: 50px;
      height: 50px;
      flex-grow: 1;
      -ms-flex: auto;
      padding: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      border: 3px solid transparent;
      i {
        font-size: 2rem;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .widget-list {
    height: calc(100% - 30px - 10px);
    overflow: auto;
    .cbpo-grid-row {
      .cbpo-grid-item {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0.5rem;
        padding-bottom: 2px;
        .img-template {
          width: 100%;
          height: 100%;
        }
      }
    }
    input {
      height: 2rem;
    }
  }
}
