.cbpo-widget-menu {
  margin-left: auto;
}
.menu-position .cbpo-widget-menu {
  position: absolute !important;
  top: 5px;
  right: 5px;
}


.cbpo-card {
  height: 100%;
  overflow: auto;
  padding: $spacing;
  font-size: 11px;

  div[class^=cbpo-][class$="-header"] {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: nowrap;

    h4 {
      font-size: 1rem;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
      line-height: 30px;
    }
  }
}
.cbpo-list {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
  padding: 0.5rem 0;
}
.card-padding {
  padding: 0.5rem;
}
.option-label {
  line-height: 30px;
}

::v-deep .modal-dialog {
  h5 {
    font-size: 14px;
  }
  header, footer {
    padding: 0.5rem;
  }
  .card-header {
    padding: 0;
    span {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .form-control {
    height: 24px;
    line-height: 24px;
    font-size: 12px !important;
  }
  select.custom-select {
    line-height: 12px;
    font-size: 12px !important;
  }
  .card-body {
    padding: .5rem;
  }
  font-size: 14px;
}

.spacing-top {
  margin-top: 0.5rem;
}
.cbpo-form-control {
  .--bold {
    legend {
      font-weight: bold;
    }
  }
  .form-inline {
    margin-bottom: 1rem;
    flex-wrap: nowrap;
    label {
      min-width: 100px;
      text-align: left;
      justify-content: left;
    }
    input[type=text].form-control {
      width: 100%;
    }
  }
}
