replicaCount: _REPLICAS_

image:
  repository: _REGISTRY_/_PROJECT_ID_/_APP_NAME_
  tag: _VERSION_
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80
  containerPort: _PORT_

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.com/health-checks: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    cpu: 500m
    memory: 600Mi
  requests:
    cpu: 250m
    memory: 400Mi

livenessProbe:
  httpGet:
    path: /
    port: http
    scheme: HTTP
  initialDelaySeconds: 90
  periodSeconds: 30
  timeoutSeconds: 30
readinessProbe:
  httpGet:
    path: /
    port: http
    scheme: HTTP
  initialDelaySeconds: 90
  periodSeconds: 30
  timeoutSeconds: 30

nodeSelector: {}

tolerations: []

affinity: {}
configmap:
  NODE_ENV: "Development"
  VUE_APP_MT_API_BASE_URL: 'http://mt-api._DEPLOYMENT_TYPE_.channelprecision.com'
  VUE_APP_MT_CLIENT_ID: 'a3b521dc-c573-4ac7-98a3-5f3ba2f4558a'
  VUE_APP_RA_API_BASE_URL: 'http://ra-api._DEPLOYMENT_TYPE_.channelprecision.com'
  VUE_APP_DS_API_BASE_URL: 'http://pf-api._DEPLOYMENT_TYPE_.channelprecision.com/ds-proxy'
  VUE_APP_MW_API_BASE_URL: 'http://mw-api._DEPLOYMENT_TYPE_.channelprecision.com'
  VUE_APP_PF_API_BASE_URL: 'http://pf-api._DEPLOYMENT_TYPE_.channelprecision.com'