.cbpo-btn {
  padding: .25rem .5rem;
  height: 24px;

  &.btn-icon {
    width: 24px;
  }
}

.tree-group {
  position: relative;
  .cbpo-filter-group {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    // width: calc(100% - 75px);
    padding: 15px;
    margin-left: 48px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: visible;
    &.ui-draggable-dragging {
      &:before{
        border: none!important;
      }
      &:after {
        border: none!important;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 27px;
      height: calc(50% + 12px);
      right:100%;
      bottom: 50%;
      margin-bottom: -1px;
      border-left-style: solid;
      border-left-width: 1px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 27px;
      height: calc(50% + 39px);
      right:100%;
      top: 50%;
      border-left-style: solid;
      border-left-width: 1px;
      border-top-style: solid;
      border-top-width: 1px;
    }
  }
  &.end-node:after{
    border-left: none;
  }
}

.tree-group-draggable {
  position: absolute;
  font-size: 10px;
  top: calc(50% - 5px);
  left: -5px;
  cursor: pointer;
  z-index: 20;
  visibility: visible;
  &.hide {
    visibility: hidden!important;
  }
}

.tree-group-droppable {
  position: absolute;
  font-size: 18px;
  top: 112px;
  left: -64px;
  cursor: pointer;
  z-index: 20;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: block;
  visibility: hidden;
  border-style: dashed;
  border-width: 1px;
  &.first-group {
    top: -10px
  }
  &.hover-dropzone {
    border-style: solid;
    border-width: 1px;
    i {
      display: none;
    }
  }
  &.show {
    visibility: visible!important;
    &.last-group:before {
      content: '';
      position: absolute;
      width: 50px;
      height: calc(100% + 15px);
      left: 12.5px;
      top: -44px;
    }
  }
}
.btn-danger{
  position: relative;
  top: -10px;
  right: -10px;
}

.btn-logic {
  position: relative;
  width: 44px;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    height: 29px;
    width: 1px;
    right: 20px;
    border-left-style: solid;
    border-left-width: 1px;
  }
}

.btn-delete-group {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
}

.cbpo-btn.btn-danger:not(:disabled).--outline {
  width: 24px;
  height: 24px;
  margin-top: 9px;
  background-color: transparent!important;
  i {
    color: #dc3546!important;
  }
  &:hover {
    background-color: transparent!important;
    i {
      color: #dc3546!important;
    }
  }
  &:active, &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
}
