@import '../core/color';

.cbpo-progress-container {
  width: 100%;
  height: 20px;
  margin-top: 7px;

  .cbpo-progress {
    background-color: $primary;
    height: 16.5px;
    border-radius: 3px;
  }
}
