.cbpo-widget-loader-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  .widget-actions {
    margin-bottom: .5rem;
  }

  ::v-deep .cbpo-widget {
    height: 100%;
    flex: 1;
  }
}
