
replicaCount: _REPLICAS_

image:
  repository: _REGISTRY_/_PROJECT_ID_/_APP_NAME_
  tag: _VERSION_
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80
  containerPort: _PORT_

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.com/health-checks: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    cpu: 1
    memory: 1000Mi
  requests:
    cpu: 500m
    memory: 300Mi

livenessProbe:
  httpGet:
    path: /
    port: http
    scheme: HTTP
  initialDelaySeconds: 150
  periodSeconds: 50
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
    scheme: HTTP
  initialDelaySeconds: 150
  periodSeconds: 50
  timeoutSeconds: 3

nodeSelector: {}

tolerations: []

affinity: {}


