.cbpo-wrapper-form {
    border-bottom: none;
    display: flex;
    align-items: center;
    // margin-left: -0.7rem;
    // margin-right: -0.7rem;

    .cbpo-filter-form {
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .cbpo-control-item {
            padding: 0.7rem 0.7rem 0.7rem 0;

            .form-group {
                margin-bottom: 0;
            }
        }
    }
}

.cbpo-wrapper-form.filter-center .cbpo-filter-form {
    justify-content: center;
}

.cbpo-wrapper-form.filter-right .cbpo-filter-form {
    justify-content: flex-end;
}