.cbpo-filter-control-range-select {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  label {
    margin-bottom: 0;
    padding-right: 10px;
  }

  .cbpo-cs-pr {
    margin-right: 10px;
  }
  .cbpo-filter-control-range{
    margin-bottom: 0;
  }
}
