.cbpo-filter-control-textarea {
    margin-bottom: 0;
    > label {
      margin: 0;
      padding: 5px 10px 5px 0;
      display: inline-block;
    }
    .cbpo-custom-textarea {
      padding: 0.2rem 0.5rem;
      width: auto;
      height: 25.38px;
      display: inline-block;
      font-size: 11.5px;
      border-radius: 0;
      margin-bottom: -9px;
      &:focus {
        box-shadow: none;
      }
    }
  }
