.custom-dashboard {
  background-color: #f9fbfb;
  padding: 0.5rem 0;

  [class^="col"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .widget-default-height {
    height: 400px;
  }
}
.widget-component {
  padding-bottom: 0.5rem;
}
.today {
  //margin-bottom: 27px;
  span{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.005em;
   color: #C8CBD0;
  }
}
::v-deep .overview__menu-control .menu-control-select {
  margin: 0 23px 5.5px 23px;
}

.widget-thirty-day-sales-brand ::v-deep {
  .cbpo-table-cell[data-col="amount_30d_prior"],
  .cbpo-table-cell[data-col="amount_30d_vs_amount_30d_prior"] {
    text-align: right;
  }
}

.custom-opacity-chart ::v-deep .chartSets .highcharts-series-group g:first-child > path:first-child {
  opacity: 0.1;
}
.settings-btn, .cbpo-multiple-export {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
}
.settings-btn:hover, .cbpo-multiple-export:hover {
  cursor: pointer;
  filter: invert(66%) sepia(18%) saturate(3000%) hue-rotate(150deg) brightness(108%) contrast(24%);
}
.settings-btn {
  margin-left: 0.7rem;
  background-image: url('~@/assets/img/icon/setting.svg');
}
.cbpo-multiple-export {
  background-image: url('~@/assets/img/icon/export.svg');
}
.dashboard-header{
  margin-bottom: 1rem !important;
}
.export-btn {
  height: 100%;
}
.wrap-widget > div > div {
  border-radius: 6px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
::v-deep .cbpo-widget {
  border-radius: 6px;
  .cbpo-widget-title {
    border-radius: 6px;
  }
  .cbpo-table-element-container {
    border-radius: 0 0 6px 6px;
  }
}
::v-deep #wrapWidget .dropdown-toggle-no-caret{
  background-color: inherit !important;
  .precise-theme-menu-icon {
    &:hover{
      background-color: #f9fbfb !important;
    }
  }
}
.cbpo-sdk-precise-theme .menu-control-select .dropdown-toggle .precise-theme-menu-icon {
  background-color: #f9fbfb;
}

::v-deep .vs__dropdown-menu {
  border: 1px solid #E6E8F0;
  border-top: none
}

::v-deep input.form-control-sm {
  padding-right: 28px;
}