@import '@/assets/scss/button.scss';

::v-deep .modal-dialog {

  &.tag-configuration-modal {
    max-width: 348px;
  }

  .modal-content:not(.cbpo-form) .modal-footer {
    padding: 0 1rem 1rem;
    border: 0 !important;
  }

  .form-group div:first-child {
    width: 100%;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #146EB4;
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #080E2C;
  padding-bottom: 4px;
  border-bottom: 1px solid #EAEBF2;
}

.sub-title {
  margin: 0;
  padding: 8px 0;
  font-size: 12px;
  color: #232F3E;
}

.list-color {
  display: flex;
  list-style-type: none;
  padding: 0 0 0 8px;

  .color-item {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
  }

  .color-item:hover,
  .active {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5px rgba(30, 52, 80, 0.6);
  }
}

::v-deep .list-tag-suggest {
  border: 1px solid #E6E8F0;

  .form-group {
    padding: 0;
    margin: 0;
  }
  #checkbox-tag-current {
    overflow-y: scroll;
    height: 200px;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #F5F5F5;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #EAECF0),
        color-stop(0.72, #EAECF0),
        color-stop(0.86, #EAECF0)
      );
    }
  }

  #checkbox-tag-suggest {
    overflow-y: auto;
    max-height: 50vh;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #F5F5F5;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #EAECF0),
        color-stop(0.72, #EAECF0),
        color-stop(0.86, #EAECF0)
      );
    }
  }

  #checkbox-view-suggest {
    display: flex;
    flex-wrap: wrap;
    float: left;
    height: 130px;
    overflow-y: scroll;

    .custom-control {
      flex: 100%;
      margin: 0;
      padding: 0px 8px 0px 40px;
      border-bottom: 1px solid #E6E8F0;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #F5F5F5;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, #EAECF0),
        color-stop(0.72, #EAECF0),
        color-stop(0.86, #EAECF0)
      );
    }
  }

  #checkbox-tag-suggest, #radio-tag-suggest {
    display: flex;
    flex-wrap: wrap;

    .custom-control {
      flex-basis: 50%;
      margin: 0;
      padding: 8px 8px 8px 40px;

      &:nth-of-type(odd) {
        border-right: 1px solid #E6E8F0;
      }
    }
  }

  #checkbox-tag-current {
    display: flex;
    flex-wrap: wrap;

    .custom-control {
      flex: 50%;
      margin: 0;
      padding: 0px 8px 0px 40px;
      border-right: 1px solid #E6E8F0;
    }

    .custom-control-label {
      margin: 8px 0;
      padding: 0;
      color: #232F3E;
    }
  }

  .custom-control-input {
    &:checked ~ .custom-control-label::before {
      color: #FFFFFF;
      border-color: #205FDC !important;
      background: #205FDC !important;
    }

    &:focus ~ .custom-control-label::before {
      border-color: #205FDC;
      box-shadow: 0 0 0 0.2rem rgba(32, 95, 220, 0.25);
    }
  }

  .custom-control-label {
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .custom-control:not(.custom-switch) .custom-control-label {
    &::before {
      width: 20px;
      height: 20px;
      border-color: #E6E8F0;
    }

    &::after {
      width: 20px;
      height: 20px;
    }
  }

  &.checkbox-list .custom-control-label {
    border-left: 1px solid #E6E8F0;

    &::before,
    &::after {
      top: 6px;
      left: -30px;
    }
  }
}

.search.cancel-action i.cancel-icon {
  right: 15px;
}
