{% extends '_base_sending_email_template.html' %}
{% block content %}

    <p>You have this email because you are in PF administration list.</p>

    <p>These are recent sale items without brand settings (so with default shipping cost estimation).</p>

    <ul>
        {% for client_item in client_data %}
            <li>{{ client_item.client_name }} (client_id={{ client_item.client_id }})</li>
            <ul>
                {% for brand_name in client_item.brand_names %}
                    <li>{{ brand_name }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <p>Here is the list</p>
{% endblock %}