{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <title>{{ subject }}</title>
</head>
<body>
<div class="main">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <span style="font-size: 40px;">{{  message }}</span>
        <p style="opacity: 0.6;">{{ helper }}</p>
        <a href="{{ redirect.url }}">{{ redirect.message }}</a>
    </div>

</div>
</body>
</html>

<style>
    .main {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        padding: 10px;
    }
</style>
