.cbpo-action-export {
  .dropdown-toggle {
    width: auto;
    font-size: 11.5px;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    >span {
      padding-left: 7px;
    }
  }
  .dropdown-menu {
    transform: translate3d(-71px, 27px, 0px) !important;
    will-change: inherit !important;
    .dropdown-item {
      font-size: $text-font-size;
    }
  }
}
