::v-deep .dropdown-submenu {
  position: relative;
  .dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    @media screen and (max-height: 704px) {
      margin-top: 0px;
    }
    margin-top: -34px;
  }
}

.select-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.12px;
  color: #667085;
}

.select-dropdown.show .dropdown-toggle {
  background-color: #E9ECEf !important;
  box-shadow: unset !important;
}

::v-deep .select-dropdown {
  width: 100%;
  height: 36px;

  &.dropdown-toggle {
    background-color: unset !important;
    box-shadow: unset !important;
  }

  &.disabled-non-hover:not(:hover) .dropdown-toggle {
    color: #6C757D;
  }

  .show > .btn-secondary.dropdown-toggle {
    background-color: #F2F4F7 !important;
    border: unset;
  }

  .dropdown-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    font-weight: normal;
    font-size: 12px;
    color: #232F3E;

    &:hover {
      background-color: #F2F4F7 !important;
      color: #232F3E !important;
    }

    &:active {
      background-color: #F2F4F7 !important;
    }

    &:focus {
      background-color: #F2F4F7 !important;
      box-shadow: none;
    }

    i {
      font-size: 20px;
      color: #667085;
    }
  }

  .dropdown-menu {
    width: 100%;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    text-align: left;
    box-shadow: 0 4px 5px 0 rgba(16, 24, 40, 0.25);

    .dropdown-item {
      display: inline-flex;
      justify-content: space-between;
      padding: 8px 6px 8px 10px;

      &.active {
        color: #232F3E;
        background-color: #F2F4F7;
      }

      i {
        width: 18px;
        height: 14px;
        margin: 0 2px;
        background: url('~@/assets/img/icon/dropdown-check.svg') no-repeat;
        background-size: 100%;
      }
    }
  }
}