
stages:
  - test
  - build-lib

variables:
  VERSION: 'v1.0.0-dev1'
  DEPLOYMENT_TYPE: 'dev'

test:
  stage: test
  image: "python:3.10"
  script:
    - python3 -m venv virtualenv
    - source virtualenv/bin/activate
    - python -m pip install pip==23.0.1
    - python setup.py sdist
    - deactivate

build-lib:
  stage: build-lib
  image: python:3.10
  variables:
    PYPI_REGISTRY: http://python-registry.channelprecision.com
    PYPI_CONFIG: |
      [distutils]
      index-servers = registry

      [registry]
      repository: $PYPI_REGISTRY
      username: $PYPI_USERNAME
      password: $PYPI_PASSWORD
  script:
    - if [[ ! `wget -S --spider  "http://python-registry.channelprecision.com/packages/django-plat-import-lib-api-${VERSION:1}.tar.gz"  2>&1 | grep 'HTTP/1.1 200 OK'` ]]; then sed -ie '3s/.*/'"version = ${VERSION:1}"'/g' setup.cfg;
      echo "$PYPI_CONFIG" > ~/.pypirc;
      python -m pip install pip==23.0.1;
      pip install wheel twine;
      python setup.py sdist bdist_wheel;
      twine upload -r registry dist/*; else echo "${VERSION} has existed."; fi
  only:
    - build/lib
    - develop
